// Import Font-family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* SCSS VARIABLES */

// $primaryColor: #f3982c;
$primaryColor: #5b9438;
$primaryColorDark: #c16f0b;
$lightColor: #c4c4c4;
$darkColor: #212529;
$greyColor: #656565;
$greenColor: #3b5e25;
$blueColor: #5eb1bf;
$dangerColor: #ea526f;
$white: #ffffff;
$fontFamily: "Roboto", sans-serif;

/* ###########################
 GLOBAL 
 ########################### */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $fontFamily;
    // font-size: 62.5%;
    // font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    color: $darkColor;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    // color: #212529;
    text-align: left;
    background-color: $white;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="file"],
// .custom-file,
.custom-file-input,
.custom-file-label,
textarea.form-control,
select.custom-select {
    border-radius: 0;
    border: 1px solid $lightColor;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid $primaryColor;
    }
    &::placeholder {
        font-family: $fontFamily;
    }
    &::-webkit-input-placeholder {
        /* Edge */
        font-family: $fontFamily;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: $fontFamily;
    }
}
.form-control {
    + .text-danger.hide {
        display: none;
    }
}
/* REMOVE ARROW BUTTONS FOR NUMBER INPUT FIELDS
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.position_absolute {
    position: absolute;
}

.position_relative {
    position: relative;
}

.text_decoration_0 {
    text-decoration: none;
}

.text_decoration_0 {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

/* ###########################
 TYPOGRAPHY
 ########################### */
.display_1 {
    font-size: 1.3rem;
}

.display_2 {
    font-size: 1.6rem;
}

.display_3 {
    font-size: 1.9rem;
}
.display_md_1 {
    font-size: 1.5rem;
}

.display_md_2 {
    font-size: 2.5rem;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.list_style_0 {
    li {
        list-style: none;
    }
}

.font-awesome-pseudo_before:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.font-awesome-pseudo_after:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* ###########################
 COLORS
 ########################### */

.bg_primary {
    /* background-color: $primaryColor; */
}

.bg_secondary {
    /* background-color: $secondaryColor; */
}

.bg_orange {
    /* background-color: $orangeColor; */
}

.bg_secondaryDark {
    /* background-color: $deepGreen; */
}

.bg_grey {
    background-color: $greyColor;
}

.text_primary {
    color: $primaryColor;
}

.text_secondary {
    /* color: $secondaryColor; */
}

.text_orange {
    /* color: $orangeColor; */
}

.text_secondaryDark {
    /* color: $deepGreen; */
}

.text_light {
    color: $lightColor;
}

.rotate_45 {
    transform: rotate(45deg);
}

// .link_primary {
//     color: $primaryColor;
//     transition: all 300ms ease-in-out;
//     &:hover,
//     &:focus {
//         color: $secondaryColor;
//         text-decoration: none;
//     }
// }

/* ###########################
 COMPONENTS
 ########################### */

.form-control,
.btn {
    transition: all 300ms ease-in-out;
    &:focus {
        box-shadow: none;
    }
}

.btn_primary {
    background-color: $greenColor;
    color: $white;
    &:hover {
        color: $white;
        background-color: $primaryColor;
    }
}

#sidebarMenu {
    .feather {
        width: 16px;
        height: 16px;
    }
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ###########################
 PAGES
 ########################### */
#loginFormWrapper,
#registerFormWrapper,
#forgot_password_page #inner {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 13vh;
    // padding: 1em;
}

#forgot_password_page {
    #inner {
    }
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    &.hide {
        display: none;
    }
}
#reset_password_page {
    .content-wrapper {
        width: 500px;
        margin: 0 auto;
    }
}

/*# sourceMappingURL=main.css.map */
